{% extends "_layout.html" %}

    {% block content %}
        <div class="card" style="width: 28rem;">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top mb-3" alt="..." style="height: 7em;">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <small class="card-title">By <b>{{ post.author.username }}</b></small>
            <p class="card-text mt-5">{{ post.content }}</p>
            </div>
        </div>
    {% endblock content %}
